#body-cart-list{
    width: 1200px;
    margin: 20px auto 0;
}
.content-header-cart-list{
    background-color: #f7f8f9;
    padding: 12px 15px;
    border-radius: 10px;
}
.content-header-cart-item{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    opacity: 0.9;
}
.ti-shopping-cart-big{
    color: black;
    font-size: 100px;
    border: 0;
}
.ti-shopping-cart-big::before{
    content: "";
}
.body-cart-logo-item{
    display: flex;
    justify-content: center;
}