ul, body{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
:root {
    --color-website: #e95211;
}
/* HEADER ***********/
#header-website-top{
    width: 1200px;
    margin: 0 auto;
}
.header-website{
    margin-top: 10px;
}
.header-logo{
    width: 70px;
    height: 70px;
}
.menu-website-list{
    display: flex;
    margin-bottom: 0;
}
.menu-website-list li{
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
}
.menu-website-item{
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    text-align: center;
    transition: color 0.3s linear;
}
.header-phone-location-search{
    display: flex;
    height: 35px;
    width: 70%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.header-phone-number{
    display: flex;
    align-items: center;
}
.header-logo-number, .header-phone-number-item, 
.header-logo-location, .header-logo-search{
    color: var(--color-website);
}
.header-phone-location-search-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-content-phone-number{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.header-phone-number-item{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 3px;
}
.header-location-store{
    display: flex;
}
.header-logo-location{
    font-size: 20px;
}
.header-content-location{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 5px;
}
.header-search-product{
    display: flex;
    position: relative;
}
.header-input-search{
    font-size: 12px;
    outline: none;
    border: transparent;
    background-color: #f3f3f3;
    width: 350px;
    padding: 5px 15px;
    border-radius: 5px;
}
.header-logo-search{
    position: absolute;
    top: 5px;
    right: 15px;
    font-weight: 600;
}
.header-logo-website, .header-account-website{
    width: 15%;
}
.menu-website-item:hover{
    color: #6e76fc;
}
.header-menu-website{
    width: calc(100% - 24%);
}
.ti-user, .ti-shopping-cart{
    font-size: 20px;
    color: var(--color-website);
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0, 0.3);
}
.account-header-list{
    display: flex;
    height: 100%;
    align-items: center;
}
.account-website{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 25px;
}
.logo-account-website, .cart-website{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.account-login-and-register{
    position: absolute;
    width: 140px;
    height: 60px;
    top: 100%;
    background-color: white;
    z-index: 2;
    border-radius: 5px;
}
.account-login-register-list:hover{
    background-color: var(--color-website);
    color: white;
}
.account-login-register-list{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
}
.account-login-register-logo{
    font-size: 17px;
}
.ccount-login-register-content{
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 5px;
}
.cart-website:hover{
    text-decoration: none;
}
.cart-website::before{
    position: absolute;
    content: "0";
    color: white;
    font-size: 10px;
    font-family: sans-serif;
    background-color: var(--color-website);
    padding: 0.7px 5px;
    border-radius: 50%;
    top: -2px;
    right: 5px;
}
.content-account-website, .content-cart-website{
    font-size: 11px;
    font-family: sans-serif;
    color: black;
    margin-top: 10px;
}
.header-logo-and-account-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Body************************* */
#body-product{
    width: 1200px;
    margin: 0 auto;
}
.content-new-product{
    margin: 30px 0;
}
.content-new-product{
    text-align: center;
    color: var(--color-website);
    font-size: 27px;
    font-family: sans-serif;
    font-weight: 600;
}
.product-new-item-box{
    padding: 15px 10px 10px;
    display: flex;
    flex-direction: column;
}
.product-trailer-new-background{
    background-color: #fcaf17;
    border-radius: 10px;
}
.product-new-item-box-img{
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.product-new-item-img-item{
    width: 100%;
    height: 100%;
    transition: 0.2s linear;
}
.product-new-item-img-item:hover{
    transform: scale(1.2);
}
.product-trailer-new-list-all{
    padding: 30px 20px 0;
}
.product-trailer-new-list{
    margin: 0;
    display: flex;
    overflow-x: scroll;
    border-radius: 5px;
}
::-webkit-scrollbar{
    background-color: #fcaf17;
}
.product-trailer-new-item{
    height: auto;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px;
}
.product-trailer-new-item:first-child{
    margin-left: 0;
}
.product-new-item-box-name{
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}
.product-new-item-box-name:hover{
    text-decoration: none;
    color: var(--color-website) !important;
}
.product-new-item-box-prices{
    color: red;
    font-size: 15px;
    margin-top: 7px;
    font-weight: 600;
}
.product-new-item-box{
    width: 235px;
    height: 300px;
}
/* Product-link ******************* */
#body-product-list-all{
    margin-top: 20px;
}
.product-link-box{
    width: 100%;
}
.product-link-item{
    margin-left: 20px;
    width: calc(calc(100% / 4) - 20px);
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.product-link-box-img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: 0.2s linear;
}
.product-link-box-background:hover .product-link-box-img{
    transform: scale(1);
    opacity: 0.7;
}
.product-link-box-background:hover::before{
    display: block;
    opacity: 0.6;
}
.product-link-box-background:hover .product-link-content-box{
    background-color: var(--color-website);
}
.product-link-box-background::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-10deg) rotate(-10deg) translateY(47%);
    background-color: var(--color-website);
    z-index: 5;
    display: none;
    transition: 0.2 linear;
}
.product-link-list-item{
    display: flex;
    margin-left: -20px;
    flex-wrap: wrap;
}
.product-link-box-background{
    width: 100%;
    position: relative;
}
.product-link-content-box{
    z-index: 8;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 220px;
    height: 40px;
    background-color: rgba(233,82,17,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-10deg) rotate(-10deg) translate(-50%, -50%);
}
.product-link-content-box:hover{
    text-decoration: none;
}
.product-link-content{
    font-size: 22px;
    font-family: sans-serif;
    color: white;
}